{% extends "forms/form.twig" %}

{% block fields %}
    {{ form.fields["form_id"] }}
    {{ form.fields["form_build_id"] }}
    {{ form.fields["form_token"] }}
	<div class="mb-3">
		{{ form.fields["email"] }}
	</div>
	<div class="mb-3">
		<button type="submit" class="btn btn-primary btn-lg w-100" name="reset">
			<span class="fw-bolder">{{ t("reset") }}</span>
		</button>
	</div>
	<hr/>
	<div class="text-center">
		<a class="link-primary fs-6 fw-bolder" href="{{ constant("BASE_URL") ~ "/login" }}">
			{{ t("login") }}</a>
	</div>
{% endblock %}
