{% extends "forms/form.twig" %}
{% block messages %}
	<h1 class="text-dark mb-3 text-center">{{ t("forgot_password_question") }}?</h1>
	<div class="w-100">
		{% for error in form.errors %}
			{{ error }}
		{% endfor %}
	</div>
{% endblock %}
{% block fields %}
    {{ form.fields["form_id"] }}
    {{ form.fields["form_build_id"] }}
    {{ form.fields["form_token"] }}
	<div class="mb-3">
		{{ form.fields["email"] }}
	</div>
	<div class="mb-3">
		<button type="submit" class="btn btn-primary btn-lg w-100" name="reset">
			<span class="fw-bolder">{{ t("reset") }}</span>
		</button>
	</div>
	<hr/>
	<div class="text-center">
		<a class="link-primary fs-6 fw-bolder" href="{{ constant("BASE_URL") ~ "/login" }}">
			{{ t("login") }}</a>
	</div>
{% endblock %}
