{% block messages %}
	<div class="w-100">
		{% for error in form.errors %}
			{{ error }}
		{% endfor %}
	</div>
{% endblock %}
<form method='{{ form.method }}' enctype='{{ form.enctype }}' class='{{ form.classes|join(" ") }}' {{ form.renderAttributes()|raw }}>
	{% block fields %}
		{% for field in form.fields %}
			{{ field }}
		{% endfor %}
	{% endblock %}
</form>
