{% extends "forms/form.twig" %}

{% block fields %}
    {{ form.fields["form_id"] }}
    {{ form.fields["form_build_id"] }}
    {{ form.fields["form_token"] }}
	<div class="form-group">
		{{ form.fields["password"] }}
	</div>
	<div class="form-group">
		{{ form.fields["password2"] }}
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-info btn-user btn-block form-control" value="{{ t("reset") }}" name="reset">
	</div>
    <div class="text-center">
		<a class="small" href="{{ constant("BASE_URL") ~ "/login" }}">
			{{ t("login") }}</a>
	</div>
{% endblock %}
