<div
	class="card shadow mb-4">
	<!-- Card Header - Accordion -->
	<a href="#table_list" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true">
		<h6 class="m-0 font-weight-bold text-primary">{{ Translation.getTranslation("tables") }}</h6>
	</a>
	<!-- Card Content - Collapse -->
	<div class="collapse show" id="table_list">
		<div class="card-body">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-search"></i>
					</span>
				</div>
				<input type="text" class="form-control lowercase_filter" placeholder="{{ Translation.getTranslation("search") }}" id="table_search_field">
			</div>
			<div class="list-group">
				{% for table_name in view.information_scheme %}
					<div class="btn-group mb-1 table_info">
						<a href="{{ constant("BASE_URL") ~ "/admin/table/" ~ table_name }}" class="btn btn-outline-dark text-left {{ view.active_table == table_name ? " active" : " " }}">
							<span class="fa fa-table"></span>
							{{ table_name }}
						</a>
						<button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" style="max-width: min-content;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
						<div class="dropdown-menu bg-gradient-info">
							<a class="dropdown-item" href="{{ constant("BASE_URL") ~ "/admin/table/insert/" ~ table_name }}">
								<i class="fa fa-save"></i>
								{{ Translation.getTranslation("add") }}
							</a>
							<a class="dropdown-item" href="{{ constant("BASE_URL") ~ "/admin/table/struct/" ~ table_name }}">
								<i class="fa fa-edit"></i>
								{{ Translation.getTranslation("edit") }}
							</a>
							<a class="dropdown-item tabletruncate" data-table-name="{{ table_name }}" href="#">
								<i class="fa fa-trash"></i>
								{{ Translation.getTranslation("truncate") }}
							</a>
							<a class="dropdown-item tabledrop" href="#" data-table-name="{{ table_name }}">
								<i class="fa fa-times-circle"></i>
								{{ Translation.getTranslation("drop_table") }}
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
