<div class="{{ view.classes|join(" ") }}">
	<a
		href="{{ view.href }}" class="card hoverable card-xl-stretch mb-xl-8 {{ view.background_class }}">
		<!--begin::Body-->
		<div
			class="card-body">
			<i class="fas fa-2x text-light {{ view.icon_class }}"></i>
			<div class="text-light fw-bolder fs-2 mb-2 mt-5">{{ view.description }}</div>
			<div class="fw-bold text-light fw-bolder">{{ view.title }}</div>
		</div>
		<!--end::Body-->
	</a>
</div>
