<!-- Sidebar -->
<nav
	class='navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion toggled {{ view.classes|join(" ") }}' {{ view.renderAttributes()|raw }}>
	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ constant("BASE_URL") }}">
		<span class="sr-only">{{ t("mainpage") }}</span>
		<div class="sidebar-brand-icon rotate-n-15">
			<img src="{{ constant("BASE_URL") ~ "/assets/favicon.png" }}" style="max-width: 30px;" alt="favicon"/>
		</div>
		<div class="sidebar-brand-text mx-3"><img class="w-100" src="{{ constant("BASE_URL") ~ "/assets/logo.png" }}" alt="logo"/></div>
	</a>
	<!-- Divider -->
	<hr class="sidebar-divider my-0"/>
	{% for item in view.items %}
		<div class="nav-item">
			<a class="nav-link {{ item.link_class }}" href="{{ constant("BASE_URL") ~ item.url }}">
				<i class="{{ item.icon_class }}"></i>
				<span>
					{{ t(item.title.value) }}
				</span>
			</a>
		</div>
	{% endfor %}
	{% for field in view.fields %}
		{{ field }}
	{% endfor %}

	<!-- Divider -->
	<hr
	class="sidebar-divider d-none d-md-block">
	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle">
			<span class="sr-only">{{ t("toggle") }}</span>
		</button>
	</div>
</nav>
<!-- End of Sidebar -->
