<div
	class="card mb-2">
	<div class="card-header" data-bs-toggle="collapse">
		<div class="card-title" href="#entity_list" class="btn btn-icon btn-circle btn-sm btn-light-primary me-1" data-bs-toggle="collapse" role='button'>
			<h3 class="card-label fw-bolder">{{ t("entities") }}</h3>
		</div>
		<div class="card-toolbar">
			<a href="#entity_list" class="btn btn-icon btn-circle btn-sm btn-light-primary me-1" data-bs-toggle="collapse">
				<i class="bi bi-arrow-down"></i>
			</a>
		</div>
	</div>
	<!-- Card Content - Collapse -->
	<div class="collapse show" id="entity_list">
		<div class="card-body p-2">
			<div class="input-group mb-3">
				<span class="input-group-text">
					<label for="entity_search_field" class="sr-only">{{ t("search") }}</label>
					<i class="fa fa-search"></i>
				</span>
				<input type="text" class="form-control lowercase_filter" placeholder="{{ t("search") }}" id="entity_search_field">
			</div>
			<div class="list-group">
				{% for entity_name in view.entityList %}
					<div class="btn-group mb-1 entity_info">
						<a href="{{ constant("BASE_URL") ~ "/admin/entity/" ~ entity_name }}" class="btn btn-outline-dark btn-sm text-start {{ view.activeEntity == entity_name ? " active" : " " }}">
							<span class="fa fa-cube"></span>
							{{ t(entity_name) }}
						</a>
						<button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" style="max-width: min-content;" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="sr-only">{{ t("toggle") }}</span>
						</button>
						<div class="dropdown-menu bg-gradient-info">
							<a class="dropdown-item" href="{{ constant("BASE_URL") ~ "/admin/entity/insert/" ~ entity_name }}">
								<i class="fa fa-save"></i>
								{{ t("add") }}
							</a>
							<a class="dropdown-item" href="{{ constant("BASE_URL") ~ "/admin/entity/struct/" ~ entity_name }}">
								<i class="fa fa-edit"></i>
								{{ t("edit") }}
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
