<div class="table-responsive">
	<table class="{{ view.classes|join(" ") }}" {{ view.renderAttributes()|raw }}>
		<thead>
			<tr class="bg-light">
				{% for key, header in view.headers %}
					<th>
						{% if view.orderable and not( key matches '/^\\d+$/') %}
							<a href="#" data-order="{{ view.filter_params|url_encode }}&orderBy={{key}}&orderDirection={{ view.orderBy == key and view.orderDirection == "DESC" ? "ASC" : "DESC" }}" class="fw-bolder text-nowrap order-results">
								{{ header }}
								{% if view.orderBy == key and view.orderDirection == "DESC" %}
									<span class="fa fa-sort-down"></span>
								{% else %}
									<span class="fa fa-sort-up"></span>
								{% endif %}
							</a>
						{% else %}
							{{ header }}
						{% endif %}
					</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in view.data %}
				<tr>
					{% for key, data in row %}
						<td>
							{{ data }}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
