{% extends "page.twig" %}

{% block title %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">{{ controller.title }}</h1>
		<div class="text-gray-600 ml-3 mr-auto">
			{{ controller.table_comment }}
		</div>
        {{ controller.action_section }}
	</div>
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-md-12">
            <div class="card p-2">
                {{ controller.printMessages() }}
                {{ controller.nav_items }}
                {{ controller.table_search_form }}
                {{ controller.echoContent() }}
            </div>
        </div>
	</div>
{% endblock %}
