{# You can change this file. #}
<!DOCTYPE html>
<html>
	{% include 'header.twig' %}
	<body>
		<div id="wrapper">
			{{ controller.sidebar }}
			<div id="content-wrapper" class="d-flex flex-column">
				{% block to_top %}
					<a class='scroll-to-top rounded' href='#'>
						<i class='fas fa-angle-up'></i>
					</a>
				{% endblock %}
				{{ controller.navbar }}
				<div class='container-fluid'>
					{% block title %}
						<div class="d-sm-flex align-items-center justify-content-between mb-4">
							<h1 class="h3 mb-0 text-gray-800">{{ controller.title }}</h1>
						</div>
					{% endblock %}
					{% block content %}
					<div class="row">
						<div class="col-md-12">
							<div class="card p2">
								{{ controller.printMessages() }}
								{{ controller.echoContent()|raw }}
							</div>
						</div>
					</div>
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
