<head>
	{% for metaTag  in controller.metaTags %}
		<meta {% for key, value in metaTag %} {{ key }}="{{ value }}" {% endfor %}>
	{% endfor %}
	
	<link rel="icon" href="{{ constant("BASE_URL") ~ "/assets/favicon.ico" }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ constant("BASE_URL") }}/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ constant("BASE_URL") }}/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ constant("BASE_URL") }}/assets/favicon-16x16.png">
    <link rel="canonical" href="{{ theme.canonicalUrl() }}" />
    <meta name="msapplication-TileColor" content="#00aba9">
	<meta name="theme-color" content="#ffffff">
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
	<title>
		{{ controller.title }}
	</title>
	{% for css_file  in controller.css_files %}
		<link rel="stylesheet" href="{{ ("http" not in css_file) ? (constant("BASE_URL") ~ "/" ~ css_file) ~ "?" ~ getHashedFilemTime(css_file) : css_file }}"/>
	{% endfor %}
	{% if constant("PWA_ENABLED") is defined and constant("PWA_ENABLED") %}
		<link rel="manifest" href="{{ constant("BASE_URL") ~ "/manifest.json" }}"/>
	{% endif %}
    <style>{{controller.css_codes|join(";")|raw}}</style>
</head>
