<head>
	{% for metaTag  in controller.metaTags %}
		<meta {% for key, value in metaTag %} {{ key }}="{{ value }}" {% endfor %}>
	{% endfor %}
	<link rel="icon" href="{{ constant("BASE_URL") ~ "/assets/favicon.png" }}"/>
	<title>
		{{ controller.title }}
	</title>
	{% for css_file  in controller.css_files %}
		<link rel="stylesheet" href="{{ ("http" not in css_file) ? (constant("BASE_URL") ~ "/" ~ css_file) ~ "?" ~ getHashedFilemTime(css_file) : css_file }}"/>
	{% endfor %}
	{% if constant("PWA_ENABLED") is defined and constant("PWA_ENABLED") %}
		<link rel="manifest" href="{{ constant("BASE_URL") ~ "/manifest.json" }}"/>
	{% endif %}
    <style>{{controller.css_codes|join(";")|raw}}</style>
</head>
