{% extends "page.twig" %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="card p-2">
				<ul class="nav nav-tabs mb-3">
					<li class="nav-item">
						<a class="nav-link {{ controller.activeTab == "profile" ? "active" }}" href="{{ constant("BASE_URL") }}/profile">{{ t("profile") }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ controller.activeTab == "sessions" ? "active" }}" href="{{ constant("BASE_URL") }}/profile/sessions">{{ t("sessions") }}</a>
					</li>
				</ul>
				{{ controller.printMessages() }}
				{{ controller.echoContent()|raw }}
			</div>
		</div>
	</div>
{% endblock %}
