<nav
	class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

	<!-- Navbar -->
	<ul class="navbar-nav ml-auto d-flex justify-content-between w-100">
		<li
			class="nav-item">
			<!-- Sidebar Toggle (Topbar) -->
			<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3 mt-3">
				<i class="fa fa-bars"></i>
			</button>
		</li>
		<li class="nav-item">
			<a class="navbar-brand" href="{{ constant("BASE_URL") }}"></a>
		</li>

		<!-- Nav Item - User Information -->
		<li class="nav-item dropdown no-arrow">
			<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.getFullName() }} </span>
				<img class="img-profile rounded-circle" src="{{ constant("BASE_URL") ~ "/assets/default-profile-picture.png" }}">
			</a>
            {% if user.isLoggedIn() %}
			<!-- Dropdown - User Information -->
			<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
				<a class="dropdown-item" href="{{ constant("BASE_URL") ~ "/admin/user" }}">
					<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
					{{ t("profile") }}
				</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{{ constant("BASE_URL") ~ "/logout" }}">
					<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
					{{ t("logout") }}
				</a>
			</div>
		{% else %}
			<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
				<a class="dropdown-item" href="{{ constant("BASE_URL") ~ "/login" }}">
					<i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>
					{{ t("login") }}
				</a>
			</div>
		{% endif %}
		</li>


	</ul>

</nav>
<!-- Navbar -->
