<div>
{% if widget.label %}
	<label for="{{ widget.attributes["id"] }}" class="font-weight-bold text-primary">
		{{ widget.label }}
	</label>
{% endif %}
{% if widget.file %}
	<div class="mx-1 mb-2">
		<a href="{{ widget.file.getUrl() }}" target="_blank">
			{% if widget.file.isImage %}
				<img src='{{ widget.file.getUrl() }}' class="{{ widget.fileClass }}">
			{% else %}
				{{ widget.file.file_name }}
			{% endif %}
		</a>
		{% if widget.removeKey %}
			<a class="mr-2 entitydelete" data-key="{{ widget.removeKey.createToken() }}" href="#">
				<i class="fa fa-times text-danger core-control"></i>
			</a>
		{% endif %}
	</div>
{% endif %}
	<input type='{{ widget.type }}' name='{{ widget.name }}' class='{{ widget.classes|join(" ") }}' {{ widget.renderAttributes()|raw }} value='{{ widget.value }}'/>
{% if widget.description %}
	<small for="{{ widget.attributes["id"] }}" class="d-block">
		{{ widget.description }}
	</small>
{% endif %}
</div>