<div class='input_widget'>
{% if widget.label %}
	<label for="{{ widget.attributes["id"] }}" class="fw-bold text-primary">
		{{ widget.label }}
	</label>
{% endif %}
{% if widget.file %}
	<div class="mx-1 mb-2">
			{% if widget.file.isImage %}
				<a href="{{ widget.file.getUrl() }}" class="image-preview" data-field-name="{{ widget.label }}">
					<img src='{{ widget.file.getUrl() }}' class="{{ widget.fileClass }}">
				</a>
			{% else %}
			<a href="{{ widget.file.getUrl() }}" download="{{ widge.file.file_name }}"  data-field-name="{{ widget.label }}" target="_blank">
				{{ widget.file.file_name }}
			</a>
			{% endif %}
		{% if widget.fileKey %}
			<a class="me-2 entitydelete" data-key="{{ widget.fileKey.createToken() }}" data-field-name="{{ widget.label }}" href="#">
				<i class="fa fa-times text-danger core-control"></i>
			</a>
		{% endif %}
	</div>
{% endif %}

	{% if widget.type == "file" and widget.fileKey %}
		<input type="hidden" name='{{ widget.name }}' id="file_{{ widget.attributes["id"] }}" data-key="{{ widget.fileKey.createToken() }}" data-label="{{ widget.label }}" value='{{ widget.value }}'>
		<input type='{{ widget.type }}' class='{{ widget.classes|join(" ") }} asyncronous' {{ widget.renderAttributes()|raw }} data-file-for="file_{{ widget.attributes["id"] }}"
		/>
	{% else %}
		<input type='{{ widget.type }}' name='{{ widget.name }}' class='{{ widget.classes|join(" ") }}' {{ widget.renderAttributes()|raw }} value='{{ widget.value }}'/>
	{% endif %}
{% if widget.description %}
	<small for="{{ widget.attributes["id"] }}" class="d-block">
		{{ widget.description }}
	</small>
{% endif %}
</div>